### Features
1. survival - Survival (0 = No; 1 = Yes)
2. class - Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
3. name - Name
4. sex - Sex
5. age - Age
6. sibsp - Number of Siblings/Spouses Aboard
7. parch - Number of Parents/Children Aboard
8. ticket - Ticket Number
9. fare - Passenger Fare
10. cabin - Cabin
11. embarked - Port of Embarkation (C = Cherbourg: Q = Queenstown; S = Southampton) 12. boat - Lifeboat (if survived)
13. body-Body number (if did not survive and body was recovered)

In [1]:
import pandas as pd
import numpy as np

In [2]:
titanic_raw = pd.read_csv("https://raw.githubusercontent.com/sumitraju/data-science/main/feature_selection/data/titanic.csv")
titanic = titanic_raw.copy()
titanic.head(5)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

### Exploratory Data Analysis

In [3]:
titanic.shape

(1310, 14)

In [4]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1310 entries, 0 to 1309
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   float64
 1   survived   1309 non-null   float64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   float64
 6   parch      1309 non-null   float64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(7), object(7)
memory usage: 143.4+ KB

In [5]:
titanic.describe(include='object')

,name,sex,ticket,cabin,embarked,boat,home.dest
count,1309,1309,1309,295,1307,486,745
unique,1307,2,929,186,3,27,369
top,"Connolly, Miss. Kate",male,CA. 2343,C23 C25 C27,S,13,"New York, NY"
freq,2,843,11,6,914,39,64

In [6]:
titanic.describe(exclude='object')

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [7]:
titanic.isna().sum()

pclass          1
survived        1
name            1
sex             1
age           264
sibsp           1
parch           1
ticket          1
fare            2
cabin        1015
embarked        3
boat          824
body         1189
home.dest     565
dtype: int64

In [8]:
def unique_values__or_count(listOfColumns,options):
    for x in range(0, len(listOfColumns), 1):
        if(options=="unique"):
            unique_values_str = titanic[listOfColumns[x]].unique()
            print("unique_values " + listOfColumns[x])
            print(unique_values_str)
            print("------------------------")
        if(options=="count"):
            values_distribution = titanic[listOfColumns[x]].value_counts()
            print("-----------"+listOfColumns[x] +"------------")
            print(values_distribution)
            print("-----------------------")

In [9]:
unique_values__or_count(['sex','pclass','embarked','survived'],"count")

-----------sex------------
male      843
female    466
Name: sex, dtype: int64
-----------------------
-----------pclass------------
3.0    709
1.0    323
2.0    277
Name: pclass, dtype: int64
-----------------------
-----------embarked------------
S    914
C    270
Q    123
Name: embarked, dtype: int64
-----------------------
-----------survived------------
0.0    809
1.0    500
Name: survived, dtype: int64
-----------------------

In [10]:
titanic.drop(labels=["home.dest","body","boat","cabin","name","ticket"],axis=1,inplace=True)

In [11]:
titanic.head(5)

   pclass  survived     sex      age  sibsp  parch      fare embarked
0     1.0       1.0  female  29.0000    0.0    0.0  211.3375        S
1     1.0       1.0    male   0.9167    1.0    2.0  151.5500        S
2     1.0       0.0  female   2.0000    1.0    2.0  151.5500        S
3     1.0       0.0    male  30.0000    1.0    2.0  151.5500        S
4     1.0       0.0  female  25.0000    1.0    2.0  151.5500        S

In [12]:
mean_age=titanic['age'].mean()
titanic['age'].fillna(value=mean_age, inplace=True)

In [13]:
titanic.isna().sum()

pclass      1
survived    1
sex         1
age         0
sibsp       1
parch       1
fare        2
embarked    3
dtype: int64

In [14]:
frequent_embark = titanic['embarked'].value_counts().idxmax()
titanic['embarked'].fillna(value=frequent_embark, inplace=True)

In [15]:
titanic = titanic.dropna()

In [16]:
titanic.isna().sum()

pclass      0
survived    0
sex         0
age         0
sibsp       0
parch       0
fare        0
embarked    0
dtype: int64

In [17]:
titanic.shape

(1308, 8)

### Encoding

In [18]:
titanic_encoded = titanic.copy()

In [19]:
titanic_encoded.isnull().values.sum()
titanic_encoded.isna().sum()

pclass      0
survived    0
sex         0
age         0
sibsp       0
parch       0
fare        0
embarked    0
dtype: int64

In [20]:
from sklearn.preprocessing import OneHotEncoder

In [21]:
def OneHotEncoderCoding(listOfColumns,dataset):
    for x in range(0, len(listOfColumns),1):
        encoder = OneHotEncoder(sparse=False)
        column_encoded = encoder.fit_transform(dataset[[listOfColumns[x]]])
        feature_names = encoder.get_feature_names_out(input_features=[listOfColumns[x]])
        column_encoded = pd.DataFrame(column_encoded, columns=feature_names)
        
        dataset = dataset.drop([listOfColumns[x]], axis=1)
        column_encoded.index = dataset.index
        dataset = pd.concat([dataset,column_encoded],axis=1)
    return dataset

In [22]:
titanic_encoded = OneHotEncoderCoding(['embarked','sex'],titanic_encoded)

In [23]:
titanic_encoded.isnull().values.sum()
titanic_encoded.isna().sum()

pclass        0
survived      0
age           0
sibsp         0
parch         0
fare          0
embarked_C    0
embarked_Q    0
embarked_S    0
sex_female    0
sex_male      0
dtype: int64

In [24]:
X = titanic_encoded.drop('survived', axis=1)
Y = titanic_encoded['survived']
X.head(5)

,pclass,age,sibsp,parch,fare,embarked_C,embarked_Q,embarked_S,sex_female,sex_male
0,1.0,29.0000,0.0,0.0,211.3375,0.0,0.0,1.0,1.0,0.0
1,1.0,0.9167,1.0,2.0,151.5500,0.0,0.0,1.0,0.0,1.0
2,1.0,2.0000,1.0,2.0,151.5500,0.0,0.0,1.0,1.0,0.0
3,1.0,30.0000,1.0,2.0,151.5500,0.0,0.0,1.0,0.0,1.0
4,1.0,25.0000,1.0,2.0,151.5500,0.0,0.0,1.0,1.0,0.0

### Feature Selection

In [25]:
from sklearn.feature_selection import f_classif,SelectKBest

In [26]:
featuresSelected = SelectKBest(score_func=f_classif,k=10)

In [27]:
featuresSelected.fit(X,Y)

SelectKBest()

In [28]:
print("P_Values :")
print(np.round(featuresSelected.pvalues_,4))
print("F Values :")
print(featuresSelected.scores_)

P_Values :
[0.     0.0772 0.3095 0.0029 0.     0.     0.5566 0.     0.     0.    ]
F Values :
[1.40963029e+02 3.12877031e+00 1.03367682e+00 8.93193422e+00
 8.28676484e+01 4.46799645e+01 3.45786162e-01 3.01467483e+01
 5.06112060e+02 5.06112060e+02]

In [29]:
features_score = pd.DataFrame(featuresSelected.scores_)
features_pvalue = pd.DataFrame(np.round(featuresSelected.pvalues_,4))
features = pd.DataFrame(X.columns)
feature_score = pd.concat([features,features_score,features_pvalue],axis=1)
# Assign the column name
feature_score.columns = ["Input_Features","Score","P_Value"]
print(feature_score.nlargest(10,columns="Score"))

  Input_Features       Score  P_Value
8     sex_female  506.112060   0.0000
9       sex_male  506.112060   0.0000
0         pclass  140.963029   0.0000
4           fare   82.867648   0.0000
5     embarked_C   44.679964   0.0000
7     embarked_S   30.146748   0.0000
3          parch    8.931934   0.0029
1            age    3.128770   0.0772
2          sibsp    1.033677   0.3095
6     embarked_Q    0.345786   0.5566

### Compare model performance

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25)
print(X_train.shape, Y_train.shape, X_test.shape, Y_test.shape)

(981, 10) (981,) (327, 10) (327,)

In [32]:
from sklearn.linear_model import LogisticRegression

In [33]:
model = LogisticRegression(solver='lbfgs', max_iter=10000)

In [34]:
model.fit(X_train, Y_train)

LogisticRegression(max_iter=10000)

In [35]:
predictions = model.predict(X_test)

In [36]:
from sklearn.metrics import classification_report

In [37]:
print(classification_report(Y_test, predictions))

              precision    recall  f1-score   support

         0.0       0.81      0.87      0.84       196
         1.0       0.78      0.70      0.74       131

    accuracy                           0.80       327
   macro avg       0.80      0.78      0.79       327
weighted avg       0.80      0.80      0.80       327

Retrain a model with top features

In [38]:
titanic_top_features = titanic_encoded[['sex_female', 'sex_male','pclass','fare','embarked_C','embarked_S','parch','survived']].copy()

In [39]:
X_top_features = titanic_top_features.drop('survived', axis=1)
Y_top_features = titanic_top_features['survived']
X_top_features.head(5)

   sex_female  sex_male  pclass      fare  embarked_C  embarked_S  parch
0         1.0       0.0     1.0  211.3375         0.0         1.0    0.0
1         0.0       1.0     1.0  151.5500         0.0         1.0    2.0
2         1.0       0.0     1.0  151.5500         0.0         1.0    2.0
3         0.0       1.0     1.0  151.5500         0.0         1.0    2.0
4         1.0       0.0     1.0  151.5500         0.0         1.0    2.0

In [40]:
X_train_1, X_test_1, Y_train_1, Y_test_1 = train_test_split(X_top_features, Y_top_features, test_size=0.25)
print(X_train_1.shape, Y_train_1.shape, X_test_1.shape, Y_test_1.shape)

(981, 7) (981,) (327, 7) (327,)

In [41]:
model_top_features = LogisticRegression(solver='lbfgs', max_iter=10000)

In [42]:
model_top_features.fit(X_train_1, Y_train_1)

LogisticRegression(max_iter=10000)

In [43]:
predictions_top_features = model_top_features.predict(X_test_1)

In [44]:
print(classification_report(Y_test, predictions))
print("---------------------------------------------")
print(classification_report(Y_test_1, predictions_top_features))

              precision    recall  f1-score   support

         0.0       0.81      0.87      0.84       196
         1.0       0.78      0.70      0.74       131

    accuracy                           0.80       327
   macro avg       0.80      0.78      0.79       327
weighted avg       0.80      0.80      0.80       327

---------------------------------------------
              precision    recall  f1-score   support

         0.0       0.84      0.83      0.84       198
         1.0       0.75      0.75      0.75       129

    accuracy                           0.80       327
   macro avg       0.79      0.79      0.79       327
weighted avg       0.80      0.80      0.80       327