# Resampling

In [48]:
import pandas as pd

In [49]:
dataset_bank_raw = pd.read_csv("https://raw.githubusercontent.com/sumitraju/data-science/main/bank_logistic_regression/data/bank.csv", sep=";")

In [50]:
dataset_bank = dataset_bank_raw.copy()
dataset_bank.head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [51]:
dataset_bank.shape

(4521, 17)

In [52]:
print(dataset_bank["y"].value_counts())

no     4000
yes     521
Name: y, dtype: int64

In [53]:
X = dataset_bank.drop('y', axis=1)
Y = dataset_bank['y']
X.head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown

## Oversampling

Duplicating samples from the minority class

In [54]:
from imblearn.over_sampling import RandomOverSampler

In [55]:
ros = RandomOverSampler(random_state=0)
X_resampled, y_resampled = ros.fit_resample(X, Y)
y_resampled.value_counts()

no     4000
yes    4000
Name: y, dtype: int64

In [56]:
X_resampled.shape

(8000, 16)

## Undersampling

Deleting samples from the majority class

With the amount of data we have in the "dataset_bank", it doesn't make sense to use undersampling. We use undersampling when we have huge amount of data. However, for the purpose of this demo, I am going to use RandomUnderSampler for the same dataset.

In [57]:
from imblearn.under_sampling import RandomUnderSampler

In [58]:
rus = RandomUnderSampler(random_state=0)
X_resampled, y_resampled = rus.fit_resample(X, Y)
y_resampled.value_counts()

no     521
yes    521
Name: y, dtype: int64

In [59]:
X_resampled.shape

(1042, 16)

In [60]:
X_resampled.head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,44,management,divorced,tertiary,no,476,yes,yes,unknown,26,may,127,2,-1,0,unknown
1,42,entrepreneur,married,tertiary,no,233,no,no,cellular,5,feb,446,1,-1,0,unknown
2,53,entrepreneur,married,secondary,no,-118,yes,no,unknown,9,may,101,3,-1,0,unknown
3,58,housemaid,married,primary,no,0,yes,no,telephone,9,jul,148,1,-1,0,unknown
4,45,blue-collar,divorced,secondary,no,1269,yes,no,cellular,29,jan,549,2,-1,0,unknown